
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



  
  
  
  




.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1{
    flex-basis: 50%;
    min-width: 300px;
}

.col-1 img{
    max-width: 100%;
    padding: 50px 0;
    margin-left: 30px;
    
}

.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.head{
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: #0061a8;
    color: white;
}

.head1{
    margin:auto;
    display: flex;
}

.small-container{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-2{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-2 img{
    width: 100%;
}

.col-2 img:hover{
    transform: translate3d(-10px,-10px,-10px);
}

.imgsize{
    width: 300px;
    height: 300px;
}

.h4{
    font-family: 'Poppins', sans-serif;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: blueviolet;
}